form{
    margin-top: 3rem;

}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}

   


form input:focus{
    background-color: transparent!important;
    box-shadow: none!important;
}

::placeholder{
    color: white!important;
    font-weight: bold;
}

.hide {
    display: none;
}

.inline{
    display: inline;
}
.header{
    margin-bottom:2.5rem;
}

.lbl-txt{
    color: white;
    font-weight: bold;
    padding:10px;
}
.minMax{
    margin: 5px;
    display:grid;
    grid-template-columns:auto auto ;
    grid-gap: 15px;
    
}